<div class="contenar">
    <mat-toolbar color="primary">
      <span class="example"><span class="ex">J</span><span class="exa">O</span><span class="exam">Y</span>BOX</span>
      <button mat-button class="example btn" routerLink="/Form/">
          Form
      </button>
      <button mat-button class="example btn" routerLink="/product/courses">
          Product
      </button>
      <span class="example-spacer"></span>
     
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  