<!-- footer -->
<footer class="footer"> 
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Form</h2>
      </li>
      
          <li>
            <h2 class="nav__title">Product</h2>
          </li>
        
          <li>
            <h2 class="nav__title">
              <span class="mx-3">All rights reserved &copy;
                2021</span>
              <span>Created by
                <span class="heart">♥</span>Rahaf</span>
            </h2>
          </li>
    </ul>
    
    
  </footer>
  